- register_javascripts 'barclamps/pacemaker/form'

= attributes_for @proposal do
  .panel-sub
    = header @dep_raw, true

  .panel-body
    = select_field %w(crm no_quorum_policy), :collection => :no_quorum_policy_for_pacemaker
    %span.help-block
      = t('.crm.no_quorum_policy_hint')

    %fieldset
      %legend
        = t(".stonith_header")

      = select_field %w(stonith mode), :collection => :stonith_mode_for_pacemaker, "data-showit" => ["clone", "per_node", "libvirt"].join(";"), "data-showit-target" => "#stonith_clone_container;#stonith_per_node_container;#stonith_libvirt_container", "data-showit-direct" => "true"

      #stonith_clone_container
        = string_field %w(stonith clone plugin)
        = string_field %w(stonith clone params)

      #stonith_per_node_container
        = string_field %w(stonith per_node plugin)
        %table.table.table-middle
          %thead
            %tr
              %th.col-sm-3
                = t ".stonith.per_node.name"
              %th.col-sm-9
                = t ".stonith.per_node.params"
          %tbody

      #stonith_libvirt_container
        .alert.alert-warning
          = t('.stonith.libvirt.dev_only')
        = string_field %w(stonith libvirt hypervisor_ip)
        %span.help-block
          = t('.stonith.libvirt.hypervisor_ip_hint')

    %fieldset
      %legend
        = t(".haproxy_header")

      .alert.alert-info
        = t(".haproxy.ssl_info", :vhostname => PacemakerServiceObject.cluster_vhostname_from_name(proposal.name))

      = string_field %w(haproxy public_name)
      %span.help-block
        = t(".haproxy.public_name_hint")

    %fieldset
      %legend
        = t(".gui_header")

      = password_field %w(corosync password)
      = boolean_field :setup_hb_gui
      %span.help-block
        = t(".hb_gui_hint")
